* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.logoImage {
  height: 50px;
  width: 50px;
  margin: 15px;
  cursor: pointer;
}

.header {
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #eeeeee;
  top: 0;
  left: 0;
}


.navLink {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navShort {
  display: none;
}

@media (max-width : 800px) {
  .navFull {
    display: none;
  }

  .navShort {
    display: flex;
  }
}

.sep {
  padding: 0 5px;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #999999;
  position: relative;
}

.mainBody {
  flex: auto;
  width: 100%;
}