.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px - 50px);
}

.boxRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareContainer {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.answerInput {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
}

.resetContainer {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetButton {
    cursor: pointer;
    padding: 5px;
}

