.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px - 50px);
    width: 100%;
}

.gameName {
    margin-top: -100px;
    font-size: 2rem;
    font-weight: bolder;
}

.instructions {
    margin-top: 10px;
    font-size: 1.3rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}


.gridSquare {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winningSquare {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.winContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.winLine {
    padding: 8px 16px;
    border-radius: 6px;
}

.winsTracker {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.winCount {
    font-size: 1rem;
    font-weight: bold;
}

